<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
    <!-- MachineID: WEB122 -->
    <title>rbx2016.tk</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="author" content="ROBLOX Corporation">
    <meta name="description"
        content="ROBLOX is powered by a growing community of over 300,000 creators who produce an infinite variety of highly immersive experiences. These experiences range from 3D multiplayer games and competitions, to interactive adventures where friends can take on new personas imagining what it would be like to be a dinosaur, a miner in a quarry or an astronaut on a space exploration.">
    <meta name="keywords"
        content="free games, online games, building games, virtual worlds, free mmo, gaming cloud, physics engine">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link href="https://images.rbx2016.tk/7aee41db80c1071f60377c3575a0ed87.ico" rel="icon">



    <!-- <link rel="stylesheet" href="https://static.rbx2016.tk/css/MainCSS___cdd416a848c98c00458d845810ab286f_m.css"> -->


    <link rel="stylesheet" href="https://static.rbx2016.tk/css/page___c188ae1a98fc1f0f40d2760bd0a8a56a_m.css">



    <!-- <script type="text/javascript">
        var _gaq = _gaq || [];

        window.GoogleAnalyticsDisableRoblox2 = true;
        _gaq.push(['b._setAccount', 'UA-486632-1']);
        _gaq.push(['b._setCampSourceKey', 'rbx_source']);
        _gaq.push(['b._setCampMediumKey', 'rbx_medium']);
        _gaq.push(['b._setCampContentKey', 'rbx_campaign']);

        _gaq.push(['b._setDomainName', 'rbx2016.tk']);

        _gaq.push(['b._setCustomVar', 1, 'Visitor', 'Anonymous', 2]);

        var eventsArr = ['b._setCustomVar', 2, 'FirstTimeVisitor', 'true', 3];
        _gaq.push(eventsArr);
        $(function () {
            if (GoogleAnalyticsEvents) {
                GoogleAnalyticsEvents.Log(eventsArr);
            }
        });

        _gaq.push(['b._trackPageview']);


        _gaq.push(['c._setAccount', 'UA-26810151-2']);
        _gaq.push(['c._setDomainName', 'rbx2016.tk']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ?
                'https://ssl' :
                'https://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script> -->


    <script type="text/javascript" src="/jquery-1.11.1.min.js">
    </script>
    <script type="text/javascript">
        window.jQuery || document.write("<script type='text/javascript' src='jquery-1.11.1.js'><\/script>")
    </script>
    <script type="text/javascript" src="/jquery-migrate-1.2.1.min.js">
    </script>
    <script type="text/javascript">
        window.jQuery || document.write(
            "<script type='text/javascript' src='/js/jquery-migrate-1.2.1.js'><\/script>")
    </script>
    <script type="text/javascript" src="/MicrosoftAjax.js"></script>
    <script type="text/javascript">
        window.Sys || document.write("<script type='text/javascript' src='/MicrosoftAjax.js'><\/script>")
    </script>

    <script type="text/javascript" src="https://js.rbx2016.tk/71159c155b71b830770f1880fd3b181b.js">
    </script>

    <script type="text/javascript" src="https://js.rbx2016.tk/c2739e6b71386fb4fba66217b40a01c5.js">
    </script>

    <script type="text/javascript">
        Roblox.config.externalResources = [];
        Roblox.config.paths['Pages.Catalog'] =
            'https://js.rbx2016.tk/c14a216bd7773e7b637b4e6c3c2e619d.js';
        Roblox.config.paths['Pages.CatalogShared'] =
            'https://js.rbx2016.tk/962d5b2c17eda7dc135bb442c25afff9.js';
        Roblox.config.paths['Widgets.AvatarImage'] =
            'https://js.rbx2016.tk/bbaeb48f3312bad4626e00c90746ffc0.js';
        Roblox.config.paths['Widgets.DropdownMenu'] =
            'https://js.rbx2016.tk/7b436bae917789c0b84f40fdebd25d97.js';
        Roblox.config.paths['Widgets.GroupImage'] =
            'https://js.rbx2016.tk/33d82b98045d49ec5a1f635d14cc7010.js';
        Roblox.config.paths['Widgets.HierarchicalDropdown'] =
            'https://js.rbx2016.tk/3368571372da9b2e1713bb54ca42a65a.js';
        Roblox.config.paths['Widgets.ItemImage'] =
            'https://js.rbx2016.tk/8babd891cf420dfe3999b3824a0154cb.js';
        Roblox.config.paths['Widgets.PlaceImage'] =
            'https://js.rbx2016.tk/f2697119678d0851cfaa6c2270a727ed.js';
        Roblox.config.paths['Widgets.SurveyModal'] =
            'https://js.rbx2016.tk/d6e979598c460090eafb6d38231159f6.js';
    </script>

    <script type="text/javascript" src="https://js.rbx2016.tk/142b5a3a1621b800298642e22ddb6650.js">
    </script>


    <script type="text/javascript">
        $(function () {
            Roblox.JSErrorTracker.initialize({
                'suppressConsoleError': true
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            RobloxEventManager.triggerEvent('rbx_evt_newuser', {});
        });
    </script>


    <script type="text/javascript">
        var Roblox = Roblox || {};
        Roblox.UpsellAdModal = Roblox.UpsellAdModal || {};

        Roblox.UpsellAdModal.Resources = {
            //<sl:translate>
            title: "Remove Ads Like This",
            body: "Builders Club members do not see external ads like these.",
            accept: "Upgrade Now",
            decline: "No, thanks"
            //</sl:translate>
        };
    </script>
    <script type="text/javascript">
        Roblox.XsrfToken.setToken('fqcxSzwb/cql');
    </script>
    <script type="text/javascript">
        Roblox.FixedUI.gutterAdsEnabled = false;
    </script>


    <script type="text/javascript">
        var Roblox = Roblox || {};
        Roblox.jsConsoleEnabled = false;
    </script>

    <script>
        $(function () {
            Roblox.DeveloperConsoleWarning.showWarning();
        });
    </script>
    <div id="EventStreamData" data-default-url="//ecsv2.rbx2016.tk/www/e.png"
        data-www-url="//ecsv2.rbx2016.tk/www/e.png" data-studio-url="//ecsv2.rbx2016.tk/pe?t=studio"
        data-diagnostic-url="//ecsv2.rbx2016.tk/pe?t=diagnostic"></div>

    <script type="text/javascript">
        if (typeof (Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
        Roblox.Endpoints.Urls['/asset/'] =
            'https://assetgame.rbx2016.tk/asset/';
        Roblox.Endpoints.Urls['/client-status/set'] =
            'https://www.rbx2016.tk/client-status/set';
        Roblox.Endpoints.Urls['/client-status'] =
            'https://www.rbx2016.tk/client-status';
        Roblox.Endpoints.Urls['/game/'] =
            'https://assetgame.rbx2016.tk/game/';
        Roblox.Endpoints.Urls['/game/edit.ashx'] =
            'https://assetgame.rbx2016.tk/game/edit.ashx';
        Roblox.Endpoints.Urls['/game/getauthticket'] =
            'https://assetgame.rbx2016.tk/game/getauthticket';
        Roblox.Endpoints.Urls['/game/placelauncher.ashx'] =
            'https://assetgame.rbx2016.tk/game/placelauncher.ashx';
        Roblox.Endpoints.Urls['/game/report-stats'] =
            'https://assetgame.rbx2016.tk/game/report-stats';
        Roblox.Endpoints.Urls['/game/report-event'] =
            'https://assetgame.rbx2016.tk/game/report-event';
        Roblox.Endpoints.Urls['/chat/chat'] =
            'https://misc.rbx2016.tk/chat/chat';
        Roblox.Endpoints.Urls['/presence/users'] =
            'https://www.rbx2016.tk/presence/users';
        Roblox.Endpoints.Urls['/presence/user'] =
            'https://www.rbx2016.tk/presence/user';
        Roblox.Endpoints.Urls['/friends/list'] =
            'https://www.rbx2016.tk/friends/list';
        Roblox.Endpoints.Urls['/navigation/getCount'] =
            'https://www.rbx2016.tk/navigation/getCount';
        Roblox.Endpoints.Urls['/catalog/browse.aspx'] =
            'https://www.rbx2016.tk/catalog/browse.aspx';
        Roblox.Endpoints.Urls['/catalog/html'] =
            'https://search.rbx2016.tk/catalog/html';
        Roblox.Endpoints.Urls['/catalog/json'] =
            'https://search.rbx2016.tk/catalog/json';
        Roblox.Endpoints.Urls['/catalog/contents'] =
            'https://search.rbx2016.tk/catalog/contents';
        Roblox.Endpoints.Urls['/catalog/lists.aspx'] =
            'https://search.rbx2016.tk/catalog/lists.aspx';
        Roblox.Endpoints.Urls['/asset-hash-thumbnail/image'] =
            'https://assetgame.rbx2016.tk/asset-hash-thumbnail/image';
        Roblox.Endpoints.Urls['/asset-hash-thumbnail/json'] =
            'https://assetgame.rbx2016.tk/asset-hash-thumbnail/json';
        Roblox.Endpoints.Urls['/asset-thumbnail-3d/json'] =
            'https://assetgame.rbx2016.tk/asset-thumbnail-3d/json';
        Roblox.Endpoints.Urls['/asset-thumbnail/image'] =
            'https://assetgame.rbx2016.tk/asset-thumbnail/image';
        Roblox.Endpoints.Urls['/asset-thumbnail/json'] =
            'https://assetgame.rbx2016.tk/asset-thumbnail/json';
        Roblox.Endpoints.Urls['/asset-thumbnail/url'] =
            'https://assetgame.rbx2016.tk/asset-thumbnail/url';
        Roblox.Endpoints.Urls['/asset/request-thumbnail-fix'] =
            'https://assetgame.rbx2016.tk/asset/request-thumbnail-fix';
        Roblox.Endpoints.Urls['/avatar-thumbnail-3d/json'] =
            'https://www.rbx2016.tk/avatar-thumbnail-3d/json';
        Roblox.Endpoints.Urls['/avatar-thumbnail/image'] =
            'https://www.rbx2016.tk/avatar-thumbnail/image';
        Roblox.Endpoints.Urls['/avatar-thumbnail/json'] =
            'https://www.rbx2016.tk/avatar-thumbnail/json';
        Roblox.Endpoints.Urls['/avatar-thumbnails'] =
            'https://www.rbx2016.tk/avatar-thumbnails';
        Roblox.Endpoints.Urls['/avatar/request-thumbnail-fix'] =
            'https://www.rbx2016.tk/avatar/request-thumbnail-fix';
        Roblox.Endpoints.Urls['/bust-thumbnail/json'] =
            'https://www.rbx2016.tk/bust-thumbnail/json';
        Roblox.Endpoints.Urls['/group-thumbnails'] =
            'https://www.rbx2016.tk/group-thumbnails';
        Roblox.Endpoints.Urls['/groups/getprimarygroupinfo.ashx'] =
            'https://www.rbx2016.tk/groups/getprimarygroupinfo.ashx';
        Roblox.Endpoints.Urls['/headshot-thumbnail/json'] =
            'https://www.rbx2016.tk/headshot-thumbnail/json';
        Roblox.Endpoints.Urls['/item-thumbnails'] =
            'https://www.rbx2016.tk/item-thumbnails';
        Roblox.Endpoints.Urls['/outfit-thumbnail/json'] =
            'https://www.rbx2016.tk/outfit-thumbnail/json';
        Roblox.Endpoints.Urls['/place-thumbnails'] =
            'https://www.rbx2016.tk/place-thumbnails';
        Roblox.Endpoints.Urls['/thumbnail/asset/'] =
            'https://www.rbx2016.tk/thumbnail/asset/';
        Roblox.Endpoints.Urls['/thumbnail/avatar-headshot'] =
            'https://www.rbx2016.tk/thumbnail/avatar-headshot';
        Roblox.Endpoints.Urls['/thumbnail/avatar-headshots'] =
            'https://www.rbx2016.tk/thumbnail/avatar-headshots';
        Roblox.Endpoints.Urls['/thumbnail/user-avatar'] =
            'https://www.rbx2016.tk/thumbnail/user-avatar';
        Roblox.Endpoints.Urls['/thumbnail/resolve-hash'] =
            'https://www.rbx2016.tk/thumbnail/resolve-hash';
        Roblox.Endpoints.Urls['/thumbnail/place'] =
            'https://www.rbx2016.tk/thumbnail/place';
        Roblox.Endpoints.Urls['/thumbnail/get-asset-media'] =
            'https://www.rbx2016.tk/thumbnail/get-asset-media';
        Roblox.Endpoints.Urls['/thumbnail/remove-asset-media'] =
            'https://www.rbx2016.tk/thumbnail/remove-asset-media';
        Roblox.Endpoints.Urls['/thumbnail/set-asset-media-sort-order'] =
            'https://www.rbx2016.tk/thumbnail/set-asset-media-sort-order';
        Roblox.Endpoints.Urls['/thumbnail/place-thumbnails'] =
            'https://www.rbx2016.tk/thumbnail/place-thumbnails';
        Roblox.Endpoints.Urls['/thumbnail/place-thumbnails-partial'] =
            'https://www.rbx2016.tk/thumbnail/place-thumbnails-partial';
        Roblox.Endpoints.Urls['/thumbnail_holder/g'] =
            'https://www.rbx2016.tk/thumbnail_holder/g';
        Roblox.Endpoints.Urls['/users/{id}/profile'] =
            'https://www.rbx2016.tk/users/{id}/profile';
        Roblox.Endpoints.addCrossDomainOptionsToAllRequests = true;
    </script>

    <script type="text/javascript">
        if (typeof (Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
    </script>






    <div id="roblox-linkify" data-enabled="true"
        data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9\-]{2,}\.)*(((m|de|www|web|api|blog|wiki|help|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com))((\/[A-Za-z0-9-+&amp;@#\/%?=~_|!:,.;]*)|(\b|\s))"
        data-regex-flags="gm"></div>





    <div id="fb-root"></div>

    <div class="nav-container no-gutter-ads">


        <div class="modalPopup unifiedModal smallModal shop-modal shop-modal-item" data-modal-handle="shop-confirmation"
            style="display: none;">
            <div class="shop-modal-item-right">

            </div>
            <div class="shop-modal-item-left">
                <h2>
                    You are about to visit<br>our shopping site
                </h2>
                <div class="body-text">
                    You will be redirected to the shopping<br>site. Please note that you must be 18<br> or over to buy
                    online.
                </div>
                <div class="controls">
                    <a id="rbx-shopping-close-btn" class="btn-shopping-close">Close</a>
                    <div id="rbx-continue-shopping-btn"
                        class="btn btn-medium btn-neutral rbx-btn-secondary-xs btn-more btn-continue-shopping">Continue
                        to Shop</div>
                </div>
                <div class="fine-print">
                    The shop is not part of rbx2016.tk and is governed by a separate <a
                        href="https://www.myplay.com/direct/cookie-policy?origin=desktop&amp;permalink=shoproblox"
                        target="_blank">privacy policy</a>.
                </div>
            </div>
        </div>

        <div id="header" class="rbx-header" data-isfriendshiprealtimeupdateenabled="true"
        role="navigation">
        <div class="container-fluid">
            <div class="rbx-navbar-header">
                <div data-behavior="nav-notification" class="rbx-nav-collapse" onselectstart="return false;">
                    <span class="icon-nav-menu"></span>

                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://www.rbx2016.tk/">
                        <span class="icon-logo"></span>
                        <span class="icon-logo-r"></span>
                    </a>
                </div>
            </div>
            <ul class="nav rbx-navbar hidden-xs hidden-sm col-md-4 col-lg-3">
                <li>
                    <a class="nav-menu-title" href="https://www.rbx2016.tk/games">Games</a>
                </li>
                <li>
                    <a class="nav-menu-title" href="https://www.rbx2016.tk/catalog/">Catalog</a>
                </li>
                <li>
                    <a class="nav-menu-title" href="https://www.rbx2016.tk/develop">Develop</a>
                </li>
                <li>
                    <a class="buy-robux nav-menu-title" href="https://www.rbx2016.tk/upgrades/robux?ctx=nav">ROBUX</a>
                </li>
            </ul>
            <!--rbx-navbar-->
            <div id="navbar-universal-search" class="navbar-left rbx-navbar-search col-xs-5 col-sm-6 col-md-3"
                data-behavior="univeral-search" role="search">
                <div class="input-group">

                    <input id="navbar-search-input" class="form-control input-field" type="text" placeholder="Search"
                        maxlength="120" />
                    <div class="input-group-btn">
                        <button id="navbar-search-btn" class="input-addon-btn" type="submit">
                            <span class="icon-nav-search"></span>
                        </button>
                    </div>
                </div>
                <ul data-toggle="dropdown-menu" class="dropdown-menu" role="menu">
                    <li class="rbx-navbar-search-option selected"
                        data-searchurl="https://www.rbx2016.tk/search/users?keyword=">
                        <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in
                            People</span>
                    </li>
                    <li class="rbx-navbar-search-option" data-searchurl="https://www.rbx2016.tk/games/?Keyword=">
                        <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in
                            Games</span>
                    </li>
                    <li class="rbx-navbar-search-option"
                        data-searchurl="https://www.rbx2016.tk/catalog/browse.aspx?CatalogContext=1&amp;Keyword=">
                        <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in
                            Catalog</span>
                    </li>
                    <li class="rbx-navbar-search-option"
                        data-searchurl="https://www.rbx2016.tk/groups/search.aspx?val=">
                        <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in
                            Groups</span>
                    </li>
                    <li class="rbx-navbar-search-option"
                        data-searchurl="https://www.rbx2016.tk/develop/library?CatalogContext=2&amp;Category=6&amp;Keyword=">
                        <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in
                            Library</span>
                    </li>
                </ul>
            </div>
            <!--rbx-navbar-search-->
            <div class="navbar-right rbx-navbar-right col-xs-4 col-sm-3">
                <ul class="nav navbar-right rbx-navbar-icon-group">
                    <li id="navbar-setting" class="navbar-icon-item">
                        <a class="rbx-menu-item roblox-popover-close" data-toggle="popover" data-bind="popover-setting"
                            data-viewport="#header" data-original-title="" title="">
                            <span class="icon-nav-settings roblox-popover-close" id="nav-settings"></span>
                            <span class="notification-red nav-setting-highlight hidden">0</span>
                        </a>
                        <div class="rbx-popover-content" data-toggle="popover-setting">
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="rbx-menu-item" href="https://www.rbx2016.tk/my/account">
                                        Settings
                                        <span class="notification-blue nav-setting-highlight hidden">0</span>
                                    </a>
                                </li>
                                <li><a class="rbx-menu-item" href="https://www.rbx2016.tk/Help/Builderman.aspx"
                                        target="_blank">Help</a></li>
                                <li><a class="rbx-menu-item" data-behavior="logout"
                                        data-bind="https://www.rbx2016.tk/authentication/logout">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="navbar-tix" class="navbar-icon-item">
                            <a id="nav-tix-icon" class="rbx-menu-item" data-original-title="" title="">
                                <span class="icon-nav-tix roblox-popover-close" id="nav-tix"></span>
                                <span class="rbx-text-navbar-right" id="nav-tix-amount"><%= tixFormatted %></span>
                            </a>
                            <script>
                                var tixIcon = document.getElementById('nav-tix-icon');
                                tixIcon.addEventListener('click', function() {
                                    window.location.replace("https://www.rbx2016.tk/My/Money.aspx#/#Summary_tab");
                                });
                            </script>
                        </li>
                        <li id="navbar-robux" class="navbar-icon-item">
                        <a id="nav-robux-icon" class="rbx-menu-item" data-toggle="popover" data-bind="popover-robux"
                            data-original-title="" title="">
                            <span class="icon-nav-robux roblox-popover-close" id="nav-robux"></span>
                            <span class="rbx-text-navbar-right" id="nav-robux-amount"><%= robuxFormatted %></span>
                        </a>
                        <div class="rbx-popover-content" data-toggle="popover-robux">
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://www.rbx2016.tk/My/Money.aspx#/#Summary_tab" id="nav-robux-balance"
                                        class="rbx-menu-item"><%= robux2 %> ROBUX</a></li>
                                <li><a href="https://www.rbx2016.tk/upgrades/robux?ctx=navpopover"
                                        class="rbx-menu-item">Buy ROBUX</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="rbx-navbar-right-search" data-toggle="toggle-search">
                        <a class="rbx-menu-icon rbx-menu-item">
                            <span class="icon-nav-search-white"></span>
                        </a>
                    </li>
                </ul>
            </div><!-- navbar right-->
            <ul class="nav rbx-navbar hidden-md hidden-lg col-xs-12">
                <li>
                    <a class="nav-menu-title" href="https://www.rbx2016.tk/games">Games</a>
                </li>
                <li>
                    <a class="nav-menu-title" href="https://www.rbx2016.tk/catalog/">Catalog</a>
                </li>
                <li>
                    <a class="nav-menu-title" href="https://www.rbx2016.tk/develop">Develop</a>
                </li>
                <li>
                    <a class="buy-robux nav-menu-title" href="https://www.rbx2016.tk/upgrades/robux?ctx=nav">ROBUX</a>
                </li>
            </ul>
            <!--rbx-navbar-->
        </div>
    </div>


    <% if (userid != 0) { %>
    <!-- LEFT NAV MENU -->
    <div id="navigation" class="rbx-left-col nav-show" data-behavior="left-col">
        <ul>
            <li class="text-lead">
                <a class="text-overflow" href="https://www.rbx2016.tk/users/<%= userid %>/profile"><%= username %></a>
            </li>
            <li class="rbx-divider"></li>
        </ul>

        <div class="rbx-scrollbar mCustomScrollbar _mCS_1 mCS_no_scrollbar" data-toggle="scrollbar"
            onselectstart="return false;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 685px;"
                tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                    style="position:relative; top:0; left:0;" dir="ltr">
                    <ul>
                        <li><a href="https://www.rbx2016.tk/home" id="nav-home"><span
                                    class="icon-nav-home"></span><span>Home</span></a></li>
                        <li><a href="https://www.rbx2016.tk/users/<%= userid %>/profile" id="nav-profile"><span
                                    class="icon-nav-profile"></span><span>Profile</span></a></li>
                        <li>
                            <a href="/my/messages" id="nav-message" data-count="0">
                                <span class="icon-nav-message"></span><span>Messages</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.rbx2016.tk/users/<%= userid %>/friends#!/friend-requests"
                                id="nav-friends" data-count="999+">
                                <span class="icon-nav-friends"></span><span>Friends</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.rbx2016.tk/my/character.aspx" id="nav-character">
                                <span class="icon-nav-charactercustomizer"></span><span>Avatar</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.rbx2016.tk/users/<%= userid %>/inventory" id="nav-inventory">
                                <span class="icon-nav-inventory"></span><span>Inventory</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.rbx2016.tk/my/money.aspx#/#TradeItems_tab" id="nav-trade">
                                <span class="icon-nav-trade"></span><span>Trade</span>
                        </li>
                        <li>
                            <a href="https://www.rbx2016.tk/my/groups.aspx" id="nav-group">
                                <span class="icon-nav-group"></span><span>Groups</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://forum.rbx2016.tk/forum/" id="nav-forum">
                                <span class="icon-nav-forum"></span><span>Forum</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.rbx2016.tk" id="nav-blog">
                                <span class="icon-nav-blog"></span><span>Blog</span>
                            </a>
                        </li>
                        <li class="rbx-upgrade-now">
                            <a href="https://www.rbx2016.tk/premium/membership?ctx=leftnav" class="btn-secondary-md"
                                id="upgrade-now-button">Upgrade Now</a>
                        </li>
                        <li class="font-bold small">
                            Events
                        </li>
                    </ul>
                </div>
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                        style="position: absolute; min-height: 30px; display: block; height: 0px; max-height: 650px; top: 0px;"
                        oncontextmenu="return false;">
                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <% } %>

    <script type="text/javascript">
        (function () {
            if (Roblox && Roblox.Performance) {
                Roblox.Performance.setPerformanceMark("navigation_end");
            }
        })();
    </script>

    <div id="navContent" class="nav-content   nav-no-left" style="margin-left: 0px; width: 100%;">
        <div class="nav-content-inner">
            <div id="MasterContainer">
                <script type="text/javascript">
                    if (top.location != self.location) {
                        top.location = self.location.href;
                    }
                </script>


                <script type="text/javascript">
                    $(function () {
                        function trackReturns() {
                            function dayDiff(d1, d2) {
                                return Math.floor((d1 - d2) / 86400000);
                            }
                            if (!localStorage) {
                                return false;
                            }

                            var cookieName = 'RBXReturn';
                            var cookieOptions = {
                                expires: 9001
                            };
                            var cookieStr = localStorage.getItem(cookieName) || "";
                            var cookie = {};

                            try {
                                cookie = JSON.parse(cookieStr);
                            } catch (ex) {
                                // busted cookie string from old previous version of the code
                            }

                            try {
                                if (typeof cookie.ts === "undefined" || isNaN(new Date(cookie.ts))) {
                                    localStorage.setItem(cookieName, JSON.stringify({
                                        ts: new Date().toDateString()
                                    }));
                                    return false;
                                }
                            } catch (ex) {
                                return false;
                            }

                            var daysSinceFirstVisit = dayDiff(new Date(), new Date(cookie.ts));
                            if (daysSinceFirstVisit == 1 && typeof cookie.odr === "undefined") {
                                RobloxEventManager.triggerEvent('rbx_evt_odr', {});
                                cookie.odr = 1;
                            }
                            if (daysSinceFirstVisit >= 1 && daysSinceFirstVisit <= 7 && typeof cookie
                                .sdr === "undefined") {
                                RobloxEventManager.triggerEvent('rbx_evt_sdr', {});
                                cookie.sdr = 1;
                            }
                            try {
                                localStorage.setItem(cookieName, JSON.stringify(cookie));
                            } catch (ex) {
                                return false;
                            }
                        }

                        GoogleListener.init();



                        RobloxEventManager.initialize(true);
                        RobloxEventManager.triggerEvent('rbx_evt_pageview');
                        trackReturns();



                        RobloxEventManager._idleInterval = 450000;
                        RobloxEventManager.registerCookieStoreEvent('rbx_evt_initial_install_start');
                        RobloxEventManager.registerCookieStoreEvent('rbx_evt_ftp');
                        RobloxEventManager.registerCookieStoreEvent('rbx_evt_initial_install_success');
                        RobloxEventManager.registerCookieStoreEvent('rbx_evt_fmp');
                        RobloxEventManager.startMonitor();


                    });
                </script>


                <div>
                    <div id="AdvertisingLeaderboard">


                        <iframe name="Roblox_Default_Top_728x90" allowtransparency="true" frameborder="0" height="110"
                            scrolling="no" src="https://www.rbx2016.tk/userads/1" width="728"
                            data-js-adtype="iframead"></iframe>

                    </div>
                    <noscript>
                        <div class="SystemAlert">
                            <div class="SystemAlertText">Please enable Javascript to use all the features on this
                                site.</div>
                        </div>
                    </noscript>
                    <div id="BodyWrapper" class="">
                        <div id="RepositionBody">
                            <div id="Body" class="body-width">


                                <div id="PeopleSearchContainer" class="people-search-container"
                                    data-searchpageurl="/search/users" data-dosearchurl="/search/do-search">
                                    <div>
                                        <span class="form-label">Search:</span>
                                        <input id="people-search-keyword" autofocus="" autocomplete="off" name="name"
                                            type="text" class="text-box text-box-large people-search-textbox"
                                            placeholder="Search for users...">
                                        <span class="search-button-image-container">
                                            <a class="btn-small btn-primary" id="peoplesearch-search-button">Search
                                                Users</a>
                                            <img id="peoplesearch-search-loading" style="display: none"
                                                src="https://images.rbx2016.tk/ec4e85b0c4396cf753a06fade0a8d8af.gif">
                                        </span>
                                    </div>
                                    <div>
                                        <div id="Results" class="result-container">

                                            <h2>WORK IN PROGRESS</h2>
                                            <div> No results were found.</div>

                                        </div>
                                        <div class="skyscraper-ad-container">


                                            <iframe name="Roblox_MyHome_Right_160x600" allowtransparency="true"
                                                frameborder="0" height="612" scrolling="no"
                                                src="https://www.rbx2016.tk/userads/2" width="160"
                                                data-js-adtype="iframead"></iframe>

                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div id="ProcessingView" style="display:none">
                                    <div class="ProcessingModalBody">
                                        <p class="processing-indicator"><img
                                                src="https://images.rbx2016.tk/ec4e85b0c4396cf753a06fade0a8d8af.gif"
                                                alt="Searching..."></p>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>

                    <footer class="container-footer">
                        <div class="footer">
                            <ul class="row footer-links">
                                <li class="col-xs-4 col-sm-2 footer-link">
                                    <a href="https://corp.rbx2016.tk/" class="roblox-interstitial" target="_blank">
                                        <h2>About Us</h2>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-sm-2 footer-link">
                                    <a href="https://corp.rbx2016.tk/jobs" class="roblox-interstitial" target="_blank">
                                        <h2>Jobs</h2>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-sm-2 footer-link">
                                    <a href="https://blog.rbx2016.tk/" target="_blank">
                                        <h2>Blog</h2>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-sm-2 footer-link">
                                    <a href="https://www.rbx2016.tk/Info/Privacy.aspx" target="_blank">
                                        <h2>Privacy</h2>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-sm-2 footer-link">
                                    <a href="https://corp.rbx2016.tk/parents" class="roblox-interstitial"
                                        target="_blank">
                                        <h2>Parents</h2>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-sm-2 footer-link">
                                    <a href="https://en.help.rbx2016.tk/" class="roblox-interstitial" target="_blank">
                                        <h2>Help</h2>
                                    </a>
                                </li>
                            </ul>
                            <p class="footer-note">
                                ROBLOX, "Online Building Toy", characters, logos, names, and all related indicia are
                                trademarks of <a target="_blank" href="https://corp.rbx2016.tk/"
                                    class="rbx-link roblox-interstitial">ROBLOX Corporation</a>, ©2016.
                                Patents pending. ROBLOX is not sponsored, authorized or endorsed by any producer of
                                plastic building bricks, including The LEGO Group, MEGA Brands, and K'Nex, and no
                                resemblance to the products of these companies is intended.
                                Use of this site signifies your acceptance of the <a
                                    href="https://www.rbx2016.tk/info/terms-of-service" target="_blank"
                                    class="rbx-link">Terms and Conditions</a>.
                            </p>
                        </div>
                    </footer>


                </div>
            </div>
        </div>
    </div>
    </div>





    <div id="page-heartbeat-event-data-model" class="hidden" data-page-heartbeat-event-intervals="[2,8,20,60]">
    </div>


    <script type="text/javascript">
        function urchinTracker() {}
    </script>


    <div id="PlaceLauncherStatusPanel" style="display:none;width:300px" data-new-plugin-events-enabled="True"
        data-event-stream-for-plugin-enabled="True" data-event-stream-for-protocol-enabled="True"
        data-is-protocol-handler-launch-enabled="True" data-is-user-logged-in="False" data-os-name="Windows"
        data-protocol-name-for-client="roblox-player" data-protocol-name-for-studio="roblox-studio"
        data-protocol-url-includes-launchtime="true" data-protocol-detection-enabled="true">
        <div class="modalPopup blueAndWhite PlaceLauncherModal" style="min-height: 160px">
            <div id="Spinner" class="Spinner" style="padding:20px 0;">
                <img src="https://images.rbx2016.tk/e998fb4c03e8c2e30792f2f3436e9416.gif" height="32" width="32"
                    alt="Progress">
            </div>
            <div id="status" style="min-height:40px;text-align:center;margin:5px 20px">
                <div id="Starting" class="PlaceLauncherStatus MadStatusStarting" style="display:block">
                    Starting Roblox...
                </div>
                <div id="Waiting" class="PlaceLauncherStatus MadStatusField">Connecting to Players...</div>
                <div id="StatusBackBuffer"
                    class="PlaceLauncherStatus PlaceLauncherStatusBackBuffer MadStatusBackBuffer"></div>
            </div>
            <div style="text-align:center;margin-top:1em">
                <input type="button" class="Button CancelPlaceLauncherButton translate" value="Cancel">
            </div>
        </div>
    </div>
    <div id="ProtocolHandlerStartingDialog" style="display:none;">
        <div class="modalPopup ph-modal-popup">
            <div class="ph-modal-header">

            </div>
            <div class="ph-logo-row">
                <img src="https://images.rbx2016.tk/e060b59b57fdcc7874c820d13fdcee71.svg" width="90" height="90"
                    alt="R">
            </div>
            <div class="ph-areyouinstalleddialog-content">
                <p class="larger-font-size">
                    ROBLOX is now loading. Get ready to play!
                </p>
                <div class="ph-startingdialog-spinner-row">
                    <img src="https://images.rbx2016.tk/4bed93c91f909002b1f17f05c0ce13d1.gif" width="82" height="24">
                </div>
            </div>
        </div>
    </div>
    <div id="ProtocolHandlerAreYouInstalled" style="display:none;">
        <div class="modalPopup ph-modal-popup">
            <div class="ph-modal-header">
                <span class="rbx-icon-close simplemodal-close"></span>
            </div>
            <div class="ph-logo-row">
                <img src="https://images.rbx2016.tk/e060b59b57fdcc7874c820d13fdcee71.svg" width="90" height="90"
                    alt="R">
            </div>
            <div class="ph-areyouinstalleddialog-content">
                <p class="larger-font-size">
                    You're moments away from getting into the game!
                </p>
                <div>
                    <button type="button" class="btn rbx-btn-primary-sm" id="ProtocolHandlerInstallButton">
                        Download and Install ROBLOX
                    </button>
                </div>
                <div class="rbx-small rbx-text-notes">
                    <a href="https://en.help.rbx2016.tk/hc/en-us/articles/204473560" class="rbx-link"
                        target="_blank">Click here for help</a>
                </div>

            </div>
        </div>
    </div>
    <div id="ProtocolHandlerClickAlwaysAllowed" class="ph-clickalwaysallowed" style="display:none;">
        <p class="larger-font-size">
            <span class="rbx-icon-moreinfo"></span>
            Check <b>Remember my choice</b> and click <img
                src="https://images.rbx2016.tk/7c8d7a39b4335931221857cca2b5430b.png" alt="Launch Application"> in the
            dialog box above to join games faster in the future!
        </p>
    </div>


    <div id="videoPrerollPanel" style="display:none">
        <div id="videoPrerollTitleDiv">
            Gameplay sponsored by:
        </div>
        <div id="videoPrerollMainDiv"></div>
        <div id="videoPrerollCompanionAd"></div>
        <div id="videoPrerollLoadingDiv">
            Loading <span id="videoPrerollLoadingPercent">0%</span> - <span id="videoPrerollMadStatus"
                class="MadStatusField">Starting game...</span><span id="videoPrerollMadStatusBackBuffer"
                class="MadStatusBackBuffer"></span>
            <div id="videoPrerollLoadingBar">
                <div id="videoPrerollLoadingBarCompleted">
                </div>
            </div>
        </div>
        <div id="videoPrerollJoinBC">
            <span>Get more with Builders Club!</span>
            <a href="https://www.rbx2016.tk/premium/membership?ctx=preroll" target="_blank"
                class="btn-medium btn-primary" id="videoPrerollJoinBCButton">Join Builders Club</a>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            if (Roblox.VideoPreRoll) {
                Roblox.VideoPreRoll.showVideoPreRoll = false;
                Roblox.VideoPreRoll.isPrerollShownEveryXMinutesEnabled = true;
                Roblox.VideoPreRoll.loadingBarMaxTime = 33000;
                Roblox.VideoPreRoll.videoOptions.key = "robloxcorporation";
                Roblox.VideoPreRoll.videoOptions.categories = "AgeUnknown,GenderUnknown";
                Roblox.VideoPreRoll.videoOptions.id = "games";
                Roblox.VideoPreRoll.videoLoadingTimeout = 11000;
                Roblox.VideoPreRoll.videoPlayingTimeout = 41000;
                Roblox.VideoPreRoll.videoLogNote = "Guest";
                Roblox.VideoPreRoll.logsEnabled = true;
                Roblox.VideoPreRoll.excludedPlaceIds = "32373412";
                Roblox.VideoPreRoll.adTime = 15;

                Roblox.VideoPreRoll.specificAdOnPlacePageEnabled = true;
                Roblox.VideoPreRoll.specificAdOnPlacePageId = 192800;
                Roblox.VideoPreRoll.specificAdOnPlacePageCategory = "stooges";


                Roblox.VideoPreRoll.specificAdOnPlacePage2Enabled = true;
                Roblox.VideoPreRoll.specificAdOnPlacePage2Id = 2370766;
                Roblox.VideoPreRoll.specificAdOnPlacePage2Category = "lego";

                $(Roblox.VideoPreRoll.checkEligibility);
            }
        });
    </script>


    <div id="GuestModePrompt_BoyGirl" class="Revised GuestModePromptModal" style="display:none;">
        <div class="simplemodal-close">
            <a class="ImageButton closeBtnCircle_20h"
                style="cursor: pointer; margin-left:455px;top:7px; position:absolute;"></a>
        </div>
        <div class="Title">
            Choose Your Character
        </div>
        <div style="min-height: 275px; background-color: white;">
            <div style="clear:both; height:25px;"></div>

            <div style="text-align: center;">
                <div class="VisitButtonsGuestCharacter VisitButtonBoyGuest" style="float:left; margin-left:45px;"></div>
                <div class="VisitButtonsGuestCharacter VisitButtonGirlGuest" style="float:right; margin-right:45px;">
                </div>
            </div>
            <div style="clear:both; height:25px;"></div>
            <div class="RevisedFooter">
                <div style="width:200px;margin:10px auto 0 auto;">
                    <a href="https://www.rbx2016.tk/?returnUrl=http%3A%2F%2Fwww.rbx2016.tk%2Fsearch%2Fusers">
                        <div class="RevisedCharacterSelectSignup"></div>
                    </a>
                    <a class="HaveAccount"
                        href="https://www.rbx2016.tk/newlogin?returnUrl=http%3A%2F%2Fwww.rbx2016.tk%2Fsearch%2Fusers">I
                        have an account</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function checkRobloxInstall() {
            window.location = '/install/download.aspx';
            return false;
        }
    </script>

    <div id="InstallationInstructions" style="display:none;">
        <div class="ph-installinstructions">
            <div class="ph-modal-header">
                <span class="rbx-icon-close simplemodal-close"></span>
                <h3>Thanks for playing ROBLOX</h3>
            </div>
            <div class="ph-installinstructions-body">
                <div class="ph-install-step ph-installinstructions-step1-of3">
                    <h1>1</h1>
                    <p class="larger-font-size">Click <strong>Run</strong> to install ROBLOX after the download
                        finishes.</p>
                    <img width="230" height="180" src="https://images.rbx2016.tk/a2328c6dd420fb1dc83242d593caaf8b.png">
                </div>
                <div class="ph-install-step ph-installinstructions-step2-of3">
                    <h1>2</h1>
                    <p class="larger-font-size">Click <strong>Ok</strong> to finish installing ROBLOX.</p>
                    <img width="230" height="180" src="https://images.rbx2016.tk/6e23e4971ee146e719fb1abcb1d67d59.png">
                </div>
                <div class="ph-install-step ph-installinstructions-step3-of3">
                    <h1>3</h1>
                    <p class="larger-font-size">Click the <strong>Play</strong> button to join the action!</p>
                    <div class="VisitButton VisitButtonContinuePH">
                        <a class="btn rbx-btn-primary-lg disabled" data-isedge="true">Play</a>
                    </div>
                </div>
            </div>
            <div class="rbx-font-sm rbx-text-notes">
                The ROBLOX installer should download shortly. If it doesn’t, <a href="#"
                    onclick="Roblox.ProtocolHandlerClientInterface.startDownload(); return false;">start the download
                    now.</a>
            </div>
        </div>
    </div>
    <div class="InstallInstructionsImage" data-modalwidth="970" style="display:none;"></div>



    <div id="pluginObjDiv" style="height:1px;width:1px;visibility:hidden;position: absolute;top: 0;"></div>
    <iframe id="downloadInstallerIFrame" style="visibility:hidden;height:0;width:1px;position:absolute"></iframe>

    <script type="text/javascript" src="https://js.rbx2016.tk/f85b8c7390d0621be3fd90b53134ce49.js">
    </script>

    <script type="text/javascript">
        Roblox.Client._skip = '/install/download.aspx';
        Roblox.Client._CLSID = '';
        Roblox.Client._installHost = '';
        Roblox.Client.ImplementsProxy = false;
        Roblox.Client._silentModeEnabled = false;
        Roblox.Client._bringAppToFrontEnabled = false;
        Roblox.Client._currentPluginVersion = '';
        Roblox.Client._eventStreamLoggingEnabled = false;


        Roblox.Client._installSuccess = function () {
            if (GoogleAnalyticsEvents) {
                GoogleAnalyticsEvents.ViewVirtual('InstallSuccess');
                GoogleAnalyticsEvents.FireEvent(['Plugin', 'Install Success']);
                if (Roblox.Client._eventStreamLoggingEnabled && typeof Roblox.GamePlayEvents != "undefined") {
                    Roblox.GamePlayEvents.SendInstallSuccess(Roblox.Client._launchMode, play_placeId);
                }
            }
        }
    </script>


    <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation"
        style="display:none;">
        <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
        <div class="Title"></div>
        <div class="GenericModalBody">
            <div class="TopBody">
                <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays=""
                    data-no-click="">
                    <img class="GenericModalImage" alt="generic image">
                </div>
                <div class="Message"></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
                <a href="" id="roblox-confirm-btn"><span></span></a>
                <a href="" id="roblox-decline-btn"><span></span></a>
            </div>
            <div class="ConfirmationModalFooter">

            </div>
        </div>
        <script type="text/javascript">
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};

            //<sl:translate>
            Roblox.Resources.GenericConfirmation = {
                yes: "Yes",
                No: "No",
                Confirm: "Confirm",
                Cancel: "Cancel"
            };
            //</sl:translate>
        </script>
    </div>





    <script type="text/javascript">
        $(function () {
            Roblox.CookieUpgrader.domain = 'rbx2016.tk';
            Roblox.CookieUpgrader.upgrade("GuestData", {
                expires: Roblox.CookieUpgrader.thirtyYearsFromNow
            });
            Roblox.CookieUpgrader.upgrade("RBXSource", {
                expires: function (cookie) {
                    return Roblox.CookieUpgrader.getExpirationFromCookieValue(
                        "rbx_acquisition_time", cookie);
                }
            });
            Roblox.CookieUpgrader.upgrade("RBXViralAcquisition", {
                expires: function (cookie) {
                    return Roblox.CookieUpgrader.getExpirationFromCookieValue("time", cookie);
                }
            });

            Roblox.CookieUpgrader.upgrade("RBXMarketing", {
                expires: Roblox.CookieUpgrader.thirtyYearsFromNow
            });


            Roblox.CookieUpgrader.upgrade("RBXSessionTracker", {
                expires: Roblox.CookieUpgrader.fourHoursFromNow
            });


            Roblox.CookieUpgrader.upgrade("RBXEventTrackerV2", {
                expires: Roblox.CookieUpgrader.thirtyYearsFromNow
            });

        });
    </script>

    <script>
        var _comscore = _comscore || [];
        _comscore.push({
            c1: "2",
            c2: "6035605",
            c3: "",
            c4: "",
            c15: ""
        });

        (function () {
            var s = document.createElement("script"),
                el = document.getElementsByTagName("script")[0];
            s.async = true;
            s.src = (document.location.protocol == "https:" ?
                    "https://sb" : "https://b") +
                ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    <noscript>
        <img
            src="https://b.scorecardresearch.com/p?c1=2&amp;c2=&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cv=2.0&amp;cj=1" />
    </noscript>
    </body>

</html>