<li id="voting-section" class="voting-panel body new-design" data-asset-id="<%= gameid %>"
                                data-total-up-votes="<%= likes %>" data-total-down-votes="<%= dislikes %>" data-vote-modal=""
                                data-user-authenticated="True">
                                <div class="loading"></div>
                                <div class="vote-summary">
                                    <div class="voting-details">
                                        <div class="users-vote ">

                                            <div class="upvote">
                                                <span class="icon-like <% if (userVoted == "Liked"){ %>selected<% } %>"></span>
                                            </div>

                                            <div class="vote-details">
                                                <div class="vote-container">
                                                    <div class="vote-background"></div>
                                                    <div class="vote-percentage"></div>
                                                    <div class="vote-mask">
                                                        <div class="segment seg-1"></div>
                                                        <div class="segment seg-2"></div>
                                                        <div class="segment seg-3"></div>
                                                        <div class="segment seg-4"></div>
                                                    </div>
                                                </div>

                                                <div class="vote-numbers">
                                                    <div class="count-left">
                                                        <span id="vote-up-text" title="<%= likes %>" class="vote-text"><%= likes %></span>
                                                    </div>
                                                    <div class="count-right">
                                                        <span id="vote-down-text" title="<%= dislikes %>" class="vote-text"><%= dislikes %></span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="downvote">
                                                <span class="icon-dislike <% if (userVoted == "Disliked"){ %>selected<% } %>"></span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>




                            <script>
                                $(function () {
                                    Roblox.Voting.Initialize();

                                    Roblox.Voting.Resources = {
                                        //<sl:translate>
                                        emailVerifiedTitle: "Verify Your Email",
                                        emailVerifiedMessage: "You must verify your email before you can vote. You can verify your email on the <a href='/my/account?confirmemail=1'>Account</a> page.",

                                        playGameTitle: "Play Game",
                                        playGameMessage: "You must play the game before you can vote on it.",

                                        useModelTitle: "Use Model",
                                        useModelMessage: "You must use this model before you can vote on it.",

                                        installPluginTitle: "Install Plugin",
                                        installPluginMessage: "You must install this plugin before you can vote on it.",

                                        buyGamePassTitle: "Buy Game Pass",
                                        buyGamePassMessage: "You must own this game pass before you can vote on it.",

                                        floodCheckThresholdMetTitle: "Slow Down",
                                        floodCheckThresholdMetMessage: "You're voting too quickly. Come back later and try again.",

                                        unknownProblemTitle: "Something Broke",
                                        unknownProblemMessage: "There was an unknown problem voting. Please try again.",

                                        guestUserTitle: "Login to Vote",
                                        guestUserMessage: "<div>You must login to vote.</div> <div>Please <a href='/newlogin'>login or register</a> to continue.</div>",
                                        returnUrl: '/newlogin',

                                        accountUnderOneDayTitle: "Voter Feedback",
                                        accountUnderOneDayMessage: "You will be able to vote on Games and Studio Models later, after you've had a chance to experience ROBLOX a bit more. Come back to this page in a couple days.",

                                        accept: "Verify",
                                        decline: "Cancel",
                                        login: "Login"
                                        //<sl:translate>
                                    };
                                });
                            </script>
