<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">

<head data-machine-id="WEB1262">
    <!-- MachineID: WEB1262 -->
    <title>Uploading</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Roblox Corporation" />
    <meta name="description" content="Roblox is a global platform that brings people together through play." />
    <meta name="keywords"
        content="free games, online games, building games, virtual worlds, free mmo, gaming cloud, physics engine" />
    <meta name="apple-itunes-app" content="app-id=431946152" />
    <meta ng-csp="no-unsafe-eval">


    <link href="http://images.rbx2016.tk/3b43a5c16ec359053fef735551716fc5.ico" rel="icon" />




    <link onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' rel='stylesheet'
        href='http://static.rbx2016.tk/css/studio___37a1532dfd340c90425ec3f92abd0d2d_m.css' />


    <link onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' rel='stylesheet'
        href='http://static.rbx2016.tk/css/page___1dd3b34c4fb238cfde5ab6e0f135e43c_m.css' />




    <script>
        //Set if it browser's do not track flag is enabled
        var Roblox = Roblox || {};
        (function () {
            var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
            if (typeof window.external !== "undefined" &&
                typeof window.external.msTrackingProtectionEnabled !== "undefined") {
                dnt = dnt || window.external.msTrackingProtectionEnabled();
            }
            Roblox.browserDoNotTrack = dnt == "1" || dnt == "yes" || dnt === true;
        })();
    </script>




    <script onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' data-monitor='true'
        data-bundlename='studio' type='text/javascript' src='http://js.rbx2016.tk/3719f3fb35135d05cf6b72d5b0f46333.js'>
    </script>
    <script type='text/javascript'>
        Roblox.config.externalResources = [];
        Roblox.config.paths['Pages.Catalog'] = 'http://js.rbx2016.tk/109d883fe3988fca757e26e341ed0fe8.js';
        Roblox.config.paths['Pages.CatalogShared'] = 'http://js.rbx2016.tk/33126cd3e259a404a2563594f55a3f06.js';
        Roblox.config.paths['Widgets.AvatarImage'] = 'http://js.rbx2016.tk/7d49ac94271bd506077acc9d0130eebb.js';
        Roblox.config.paths['Widgets.DropdownMenu'] = 'http://js.rbx2016.tk/da553e6b77b3d79bec37441b5fb317e7.js';
        Roblox.config.paths['Widgets.HierarchicalDropdown'] =
            'http://js.rbx2016.tk/4a0af9989732810851e9e12809aeb8ad.js';
        Roblox.config.paths['Widgets.ItemImage'] = 'http://js.rbx2016.tk/61a0490ba23afa17f9ecca2a079a6a57.js';
        Roblox.config.paths['Widgets.PlaceImage'] = 'http://js.rbx2016.tk/a6df74a754523e097cab747621643c98.js';
    </script>
    <script onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' data-monitor='true'
        data-bundlename='page' type='text/javascript' src='http://js.rbx2016.tk/8954c11526342f34c1d4684694cd84de.js'>
    </script>

    <script type="text/javascript">
        if (typeof (Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
        Roblox.Endpoints.Urls['/api/item.ashx'] = 'http://sitetest.rbx2016.tk/api/item.ashx';
        Roblox.Endpoints.Urls['/asset/'] = 'http://assetgame.rbx2016.tk/asset/';
        Roblox.Endpoints.Urls['/client-status/set'] = 'http://sitetest.rbx2016.tk/client-status/set';
        Roblox.Endpoints.Urls['/client-status'] = 'http://sitetest.rbx2016.tk/client-status';
        Roblox.Endpoints.Urls['/game/'] = 'http://assetgame.rbx2016.tk/game/';
        Roblox.Endpoints.Urls['/game-auth/getauthticket'] = 'http://sitetest.rbx2016.tk/game-auth/getauthticket';
        Roblox.Endpoints.Urls['/game/edit.ashx'] = 'http://assetgame.rbx2016.tk/game/edit.ashx';
        Roblox.Endpoints.Urls['/game/getauthticket'] = 'http://assetgame.rbx2016.tk/game/getauthticket';
        Roblox.Endpoints.Urls['/game/placelauncher.ashx'] = 'http://assetgame.rbx2016.tk/game/placelauncher.ashx';
        Roblox.Endpoints.Urls['/game/preloader'] = 'http://assetgame.rbx2016.tk/game/preloader';
        Roblox.Endpoints.Urls['/game/report-stats'] = 'http://assetgame.rbx2016.tk/game/report-stats';
        Roblox.Endpoints.Urls['/game/report-event'] = 'http://assetgame.rbx2016.tk/game/report-event';
        Roblox.Endpoints.Urls['/game/updateprerollcount'] = 'http://assetgame.rbx2016.tk/game/updateprerollcount';
        Roblox.Endpoints.Urls['/login/default.aspx'] = 'http://sitetest.rbx2016.tk/login/default.aspx';
        Roblox.Endpoints.Urls['/my/character.aspx'] = 'http://sitetest.rbx2016.tk/my/character.aspx';
        Roblox.Endpoints.Urls['/my/money.aspx'] = 'http://sitetest.rbx2016.tk/my/money.aspx';
        Roblox.Endpoints.Urls['/chat/chat'] = 'http://sitetest.rbx2016.tk/chat/chat';
        Roblox.Endpoints.Urls['/presence/users'] = 'http://sitetest.rbx2016.tk/presence/users';
        Roblox.Endpoints.Urls['/presence/user'] = 'http://sitetest.rbx2016.tk/presence/user';
        Roblox.Endpoints.Urls['/friends/list'] = 'http://sitetest.rbx2016.tk/friends/list';
        Roblox.Endpoints.Urls['/navigation/getCount'] = 'http://sitetest.rbx2016.tk/navigation/getCount';
        Roblox.Endpoints.Urls['/catalog/browse.aspx'] = 'http://sitetest.rbx2016.tk/catalog/browse.aspx';
        Roblox.Endpoints.Urls['/catalog/html'] = 'http://search.rbx2016.tk/catalog/html';
        Roblox.Endpoints.Urls['/catalog/json'] = 'http://search.rbx2016.tk/catalog/json';
        Roblox.Endpoints.Urls['/catalog/contents'] = 'http://search.rbx2016.tk/catalog/contents';
        Roblox.Endpoints.Urls['/catalog/lists.aspx'] = 'http://search.rbx2016.tk/catalog/lists.aspx';
        Roblox.Endpoints.Urls['/asset-hash-thumbnail/image'] = 'http://assetgame.rbx2016.tk/asset-hash-thumbnail/image';
        Roblox.Endpoints.Urls['/asset-hash-thumbnail/json'] = 'http://assetgame.rbx2016.tk/asset-hash-thumbnail/json';
        Roblox.Endpoints.Urls['/asset-thumbnail-3d/json'] = 'http://assetgame.rbx2016.tk/asset-thumbnail-3d/json';
        Roblox.Endpoints.Urls['/asset-thumbnail/image'] = 'http://assetgame.rbx2016.tk/asset-thumbnail/image';
        Roblox.Endpoints.Urls['/asset-thumbnail/json'] = 'http://assetgame.rbx2016.tk/asset-thumbnail/json';
        Roblox.Endpoints.Urls['/asset-thumbnail/url'] = 'http://assetgame.rbx2016.tk/asset-thumbnail/url';
        Roblox.Endpoints.Urls['/asset/request-thumbnail-fix'] =
        'http://assetgame.rbx2016.tk/asset/request-thumbnail-fix';
        Roblox.Endpoints.Urls['/avatar-thumbnail-3d/json'] = 'http://sitetest.rbx2016.tk/avatar-thumbnail-3d/json';
        Roblox.Endpoints.Urls['/avatar-thumbnail/image'] = 'http://sitetest.rbx2016.tk/avatar-thumbnail/image';
        Roblox.Endpoints.Urls['/avatar-thumbnail/json'] = 'http://sitetest.rbx2016.tk/avatar-thumbnail/json';
        Roblox.Endpoints.Urls['/avatar-thumbnails'] = 'http://sitetest.rbx2016.tk/avatar-thumbnails';
        Roblox.Endpoints.Urls['/avatar/request-thumbnail-fix'] = 'http://sitetest.rbx2016.tk/avatar/request-thumbnail-fix';
        Roblox.Endpoints.Urls['/bust-thumbnail/json'] = 'http://sitetest.rbx2016.tk/bust-thumbnail/json';
        Roblox.Endpoints.Urls['/group-thumbnails'] = 'http://sitetest.rbx2016.tk/group-thumbnails';
        Roblox.Endpoints.Urls['/groups/getprimarygroupinfo.ashx'] =
            'http://sitetest.rbx2016.tk/groups/getprimarygroupinfo.ashx';
        Roblox.Endpoints.Urls['/headshot-thumbnail/json'] = 'http://sitetest.rbx2016.tk/headshot-thumbnail/json';
        Roblox.Endpoints.Urls['/item-thumbnails'] = 'http://sitetest.rbx2016.tk/item-thumbnails';
        Roblox.Endpoints.Urls['/outfit-thumbnail/json'] = 'http://sitetest.rbx2016.tk/outfit-thumbnail/json';
        Roblox.Endpoints.Urls['/place-thumbnails'] = 'http://sitetest.rbx2016.tk/place-thumbnails';
        Roblox.Endpoints.Urls['/thumbnail/asset/'] = 'http://sitetest.rbx2016.tk/thumbnail/asset/';
        Roblox.Endpoints.Urls['/thumbnail/avatar-headshot'] = 'http://sitetest.rbx2016.tk/thumbnail/avatar-headshot';
        Roblox.Endpoints.Urls['/thumbnail/avatar-headshots'] = 'http://sitetest.rbx2016.tk/thumbnail/avatar-headshots';
        Roblox.Endpoints.Urls['/thumbnail/user-avatar'] = 'http://sitetest.rbx2016.tk/thumbnail/user-avatar';
        Roblox.Endpoints.Urls['/thumbnail/resolve-hash'] = 'http://sitetest.rbx2016.tk/thumbnail/resolve-hash';
        Roblox.Endpoints.Urls['/thumbnail/place'] = 'http://sitetest.rbx2016.tk/thumbnail/place';
        Roblox.Endpoints.Urls['/thumbnail/get-asset-media'] = 'http://sitetest.rbx2016.tk/thumbnail/get-asset-media';
        Roblox.Endpoints.Urls['/thumbnail/remove-asset-media'] = 'http://sitetest.rbx2016.tk/thumbnail/remove-asset-media';
        Roblox.Endpoints.Urls['/thumbnail/set-asset-media-sort-order'] =
            'http://sitetest.rbx2016.tk/thumbnail/set-asset-media-sort-order';
        Roblox.Endpoints.Urls['/thumbnail/place-thumbnails'] = 'http://sitetest.rbx2016.tk/thumbnail/place-thumbnails';
        Roblox.Endpoints.Urls['/thumbnail/place-thumbnails-partial'] =
            'http://sitetest.rbx2016.tk/thumbnail/place-thumbnails-partial';
        Roblox.Endpoints.Urls['/thumbnail_holder/g'] = 'http://sitetest.rbx2016.tk/thumbnail_holder/g';
        Roblox.Endpoints.Urls['/users/{id}/profile'] = 'http://sitetest.rbx2016.tk/users/{id}/profile';
        Roblox.Endpoints.Urls['/service-workers/push-notifications'] =
            'http://sitetest.rbx2016.tk/service-workers/push-notifications';
        Roblox.Endpoints.Urls['/notification-stream/notification-stream-data'] =
            'http://sitetest.rbx2016.tk/notification-stream/notification-stream-data';
        Roblox.Endpoints.Urls['/api/friends/acceptfriendrequest'] =
            'http://sitetest.rbx2016.tk/api/friends/acceptfriendrequest';
        Roblox.Endpoints.Urls['/api/friends/declinefriendrequest'] =
            'http://sitetest.rbx2016.tk/api/friends/declinefriendrequest';
        Roblox.Endpoints.addCrossDomainOptionsToAllRequests = true;
    </script>

    <script type="text/javascript">
        if (typeof (Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
    </script>
</head>

<body>


    <script type="text/javascript">
        if (typeof Roblox === "undefined") {
            Roblox = {};
        }
        if (typeof Roblox.Studio === "undefined") {
            Roblox.Studio = {};
        }
        Roblox.Studio.Resources = {
            errorMSG: 'Error: Upload Failed. Please try publishing again.',
            inappropriateTextError: 'Error: Inappropriate name or description.'
        };
    </script>
    <div class="boxed-body">
        <h3>Uploading to "<%= gamename %>"</h3>
        <div id="progressBarWrapper">
            <div id="uploadProgressBar"
                data-upload-url="http://sitetest.rbx2016.tk/Data/Upload.ashx?assetid=<%= gameid %>&amp;type=Place&amp;ispublic=False&amp;t=<%= xcsrftoken %>&amp;groupId="
                data-previous-url="http://sitetest.rbx2016.tk/ide/publish/newplace" data-newupload="<%= newUpload %>" data-assetid="<%= gameid %>"
                data-isplace="True" data-ispackage="False">
                <div id="progressAmount" class="progress-blue-bar" style="width:0%;">
                </div>
            </div>
            <a class="btn-medium btn-negative uploadCancel" id="cancelButton">Cancel</a>
            <a style="display: none;" class="btn-medium btn-neutral uploadOK" id="okButton">OK</a>
            <a style="display: none;" class="btn-medium blue-arrow uploadNext" id="nextButton">Next</a>
        </div>
        <p id="errorMessageContainer"><span id="uploadProgressCounter">0%</span> Completed</p>

        <div id="shareWithFriends" class="divider-top">
            <h3>Share your Place with friends</h3>
            <input class="form-text-box" id="gameLink" name="gameLink" type="text"
                value="http://sitetest.rbx2016.tk/games/<%= gameid %>" />
        </div>
    </div>


    <script type="text/javascript">
        function urchinTracker() {}
    </script>


    <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation"
        style="display:none;">
        <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
        <div class="Title"></div>
        <div class="GenericModalBody">
            <div class="TopBody">
                <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays data-no-click>
                    <img class="GenericModalImage" alt="generic image" />
                </div>
                <div class="Message"></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
                <a href id="roblox-confirm-btn"><span></span></a>
                <a href id="roblox-decline-btn"><span></span></a>
            </div>
            <div class="ConfirmationModalFooter">

            </div>
        </div>
        <script type="text/javascript">
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};

            Roblox.Resources.GenericConfirmation = {
                yes: "Yes",
                No: "No",
                Confirm: "Confirm",
                Cancel: "Cancel"
            };
        </script>
    </div>


</body>

</html>