<table class="item-table" data-item-id="<%= gameid %>" data-rootplace-id="<%= gameid %>"
    data-configure-url="https://sitetest.rbx2016.tk/universes/configure?id=<%= gameid %>"
    data-configure-localization-url="https://sitetest.rbx2016.tk/localization/games/<%= gameid %>/configure"
    data-create-badge-url="https://sitetest.rbx2016.tk/develop?selectedPlaceId=<%= gameid %>&amp;View=21"
    data-create-gamepass-url="https://sitetest.rbx2016.tk/develop?selectedPlaceId=<%= gameid %>&amp;View=34"
    data-developerstats-url="https://create.rbx2016.tk/creations/experiences/<%= gameid %>/stats"
    data-advertise-url="https://sitetest.rbx2016.tk/user-ads/create?targetId=<%= gameid %>&amp;targetType=Asset"
    data-activate-universe-url="https://develop.rbx2016.tk/v1/universes/<%= gameid %>/activate"
    data-deactivate-universe-url="https://develop.rbx2016.tk/v1/universes/<%= gameid %>/deactivate"
    data-type="universes">
    <tbody>
        <tr>
            <td class="image-col universe-image-col" style="text-align: center">
                <a href="https://sitetest.rbx2016.tk/universes/configure?id=<%= gameid %>" class="game-image">
                    <img src="<%= gameiconthumbnail %>" alt="<%= gamename %>">
                </a>
            </td>
            <td class="universe-name-col">
                <a class="title" href="https://sitetest.rbx2016.tk/universes/configure?id=<%= gameid %>"><%= gamename %></a>
                <table class="details-table">
                    <tbody>
                        <tr>
                            <td class="item-universe">
                                <span>Start Place:</span>
                                <a class="title start-place-url"
                                    href="https://sitetest.rbx2016.tk/games/<%= gameid %>/<%= gamename2 %>"><%= gamename %></a>
                            </td>
                        </tr>
                        <tr class="activate-cell">
                            <td>
                                <a class="<%= placeActive %>"
                                    href="https://sitetest.rbx2016.tk/universes/configure?id=<%= gameid %>"><%= pubtext %></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="edit-col">
                <a class="btn-control btn-control-large"
                    href="https://sitetest.rbx2016.tk/sponsored/experiences/<%= gameid %>/create">Sponsor</a>
            </td>

            <td class="edit-col">
                <a class="roblox-edit-button btn-control btn-control-large" href="javascript:;">Edit</a>
            </td>
            <td class="menu-col">
                <div class="gear-button-wrapper">
                    <a href="#" class="gear-button"></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="separator"></div>